@model List<Receipt>
@{
}

@{
    ViewData["Title"] = "Ordenar";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Receipt" asp-action="Create">Nuevo Producto</a>
    </div>
    <div class="col">
        
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Nombre</td>
            <td>Precio</td>
            <td>Detalles</td>
            <td>Total</td>
            <td>Fecha</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var receipt in Model)
        {
            <tr>
                <td>@receipt.id</td>
                <td>@receipt.name</td>
                <td>@receipt.price</td>
                <td>@receipt.description</td>
                <td>@receipt.total</td>
                <td>@receipt.date.ToString("dd/MM/yyyy")</td>
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm" asp-controller="Receipt" asp-action="Edit"
                        asp-route-id="@receipt.id">Edit</a>
                    <a class="btn btn-primary btn-sm" asp-controller="Receipt" asp-action="Delete"
                       asp-route-id="@receipt.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>